<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<beans xmlns = "http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
     <bean id ="address" class = "com.Abhishek.Address">
        <constructor-arg value= "Pune"></constructor-arg>
    </bean>
    <bean id = "student" class = "com.Abhishek.Student">
        <!--<property name = "rollNum" value = "3173"></property>
        <property name = "name" value = "Abhishek"></property>-->
        <constructor-arg value="3173" type="int"></constructor-arg>
        <constructor-arg value="Abhishek" type="java.lang.String"></constructor-arg>
        <constructor-arg ref = "address"></constructor-arg>
    </bean>
    
    
</beans>